sentence-transformers==2.6.1
langchain
flask
pypdf
huggingface_hub[hf_xet]
python-dotenv
sentence-transformers
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_groq
langchain_experimental
-e .
